*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    border: 2px solid red;
    margin: 10px;
    padding: 20px;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    background: linear-gradient(green, rgb(93, 156, 93), rgb(23, 150, 23))
}